.label {
  display: block;
  font-size: 1.6rem;
  padding-top: 1.6rem;
}

.input {
  display: block;
  font-size: 1.8rem;
  padding: 0.8rem;
  background-color: #eee;
  border: 0.2rem solid #eee;
  outline: none;
  border-radius: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  color: #333;
  width: 100%;
}

.input:hover,
.input:focus {
  border-color: var(--cor-p-1);
  box-shadow: 0 0 0 0.2rem var(--cor-p-2);
  background-color: #fff;
}

.erro {
  color: #f31;
  font-size: 1.4rem;
}
