.wrapper {
  display: grid;
}

.skeleton {
  grid-area: 1/1;
  height: 100%;
  background-image: linear-gradient(90deg,#eee, #fff, #eee);
  background-size: 200%;
  animation: skeleton 1.5s infinite linear;
}

.img {
  grid-area: 1/1;
  opacity: 0;
  transition: .2s;
}

@keyframes skeleton {
  from {
    background-position: 0;
  }

  to {
    background-position: -200%;
  }
}