.loading {
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 0 0 20rem 0;
}

.loading div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  background-color: #eee;
  padding: 1.2rem;
  padding-left: 2rem;
  border-radius: 50%;
}