.modalContainer {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000 !important;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
