.comentariosLista {
  font-size: 1.6rem;
  overflow-y: auto;
  max-height: 36rem;
}

.comentariosLista li {
  padding-bottom: 0.8rem;
}

.comentario span {
  font-weight: bold;
}

@media (max-width: 950px) {
  .comentariosLista {
    max-height: 20rem;
  }
}