.comentarioForm {
  align-self: end;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.8rem;
  padding-top: 1.2rem;
}

.comentarioForm input{
  margin: 0;
}
.comentarioForm label{
  padding: 0;
}

.comentarioEnviar {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.comentarioEnviar:hover svg *,
.comentarioEnviar:focus svg *{
  fill: var(--cor-p-1);
}

.comentarioEnviar:hover svg g > *,
.comentarioEnviar:focus svg g > *{
  opacity: 0;
  animation: latido .5s infinite;
}

@keyframes latido {
  to {
    opacity: 1;
  }
}