.modal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 90rem;
  background-color: #fff;
  border-radius: 0.4rem;
  max-height: 90vh;
  overflow-y: auto;
  transform: scale(.6);
  opacity: 0;
  animation: scaleUp .3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial
  }
}

.modal img {
  border-radius: 0.4rem 0 0 0.4rem;
}

.modalConteudo {
  padding: 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.modalDetalhes {
  display: flex;
  justify-content: space-between;
  color: #aaa;
}

.modalDetalhes button {
  background-color: #eee;
  color: #aaa;
  border: 0.1rem solid #eee;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.modalDetalhes button:hover,
.modalDetalhes button:focus {
  border-color: #333;
  background-color: #fff;
}

.modalDetalhes p::before {
  content: '';
  display: inline-block;
  background-image: url('../../Assets/visualizacao-black.svg');
  width: 1.6rem;
  height: 1rem;
  margin-right: 0.4rem;
}

.modalCaracteristicas {
  display: flex;
  gap: 2rem;
  padding: 1.2rem 0;
}

.modalCaracteristicas li {
  border-left: 0.2rem solid #333;
  font-weight: bold;
  padding-left: 0.8rem;
}

@media (max-width: 950px) {
  .modal {
    grid-template-columns: 1fr;
    max-width: 60rem;
  }

  .modal img {
    border-radius: 0.4rem 0.4rem 0 0;
  }
}