.comentarioForm {
  align-self: end;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.8rem;
}

.comentarioForm input{
  margin: 0;
}
.comentarioForm label{
  padding: 0;
}

.comentarioEnviar {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.comentarioEnviar:hover svg path,
.comentarioEnviar:focus svg path {
  fill: var(--cor-p-2);
  stroke: var(--cor-p-1);
}

.comentarioEnviar:hover svg g > path,
.comentarioEnviar:focus svg g > path {
  opacity: 0;
  animation: latido .6s infinite;
}

@keyframes latido {
  to {
    opacity: 1;
  }
}