.footer {
  display: grid;
  justify-items: center;
  background-color: var(--cor-p-1);
  color: #764701;
  padding: 6rem;
}

.footer p {
  padding-top: 2rem;
  text-align: center;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .footer {
    padding: 4rem;
  }
}