:root {
  --fonte-1: Helvetica, Arial, sans-serif;
  --fonte-2: 'Spectral', Georgia;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fonte-1);
  font-size: 1.8rem;
  padding-top: 6rem;
}

img {
  border-radius: 0.4rem;
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}